/*************************
  common
**************************/

/* reset
***************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e5e5e5;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #4c58cd;
}

a:hover {
    text-decoration: underline;
}

ul, li {
    list-style-type: none;
}

/* headings
***************************/

.main > * + h2 {
    margin-top: 40px;
}

/* header
***************************/

.main-header {
    display: flex;
    padding: 0 20px;
    height: 46px;
    line-height: 46px;
    background: rgb(221, 115, 60);
    border-bottom: 4px solid rgb(204, 115, 54);
    color: #eee;
}

.main-header:after {
    content: '';
    clear: both;
}

.main-header .title {
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
}

.main-header a {
    color: #fff;
}

.header-menu {
    display: none;
    line-height: 1.5;
    border-bottom: 4px solid rgb(204, 115, 54);
}

.header-menu a {
    display: block;
    padding: 10px;
    background: rgb(221, 115, 60);
}

.header-menu a:hover {
    text-decoration: none;
    background: rgb(204, 115, 54);
}


/* layout
***************************/

.container {
    margin: 20px 40px;
}

.main, .side {
    background: #fff;
    border-bottom: 2px #ddd solid;
    padding: 20px;
}
.main {
    flex-grow: 1;
}

.side {
    flex-grow: 1;
    margin-left: 40px;
}

.wrapper {
    max-width: 1000px;
    display: flex;
    flex-basis: auto;
}

/* breadcramb
***************************/

.breadcramb {
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
}

/* button
***************************/

.btn {
    position: relative;
    display: inline-block;
    padding: 0 1em;
    line-height: 2;
    background: #fafafa;
    border-bottom: 2px #dadada solid;
    border-radius: 3px;
    color: #333;
}

.btn:hover {
    top: 1px;
    border-bottom: 1px #dadada solid;
    text-decoration: none;
}

.btn:active {
    top: 2px;
    border-bottom: none;
    background: #f1f1f1;
}


/* emoji parts
******************************/

.emoji-list li {
    padding: 10px;
    border-bottom: 1px #ddd solid;
}

.emoji-list li > * {
    display: inline-block;
}

.emoji-list li > * + *{
    margin-left: 20px;
    vertical-align: middle;
}

.emoji-vote {
    position: relative;
}

.emoji-vote .emoji-vote-current {
    padding: 20px 0;
    font-size: 20px;
    display: inline-block;
}

.emoji-vote .emoji-vote-good,
.emoji-vote .emoji-vote-bad {
    position: absolute;
    font-size: 16px;
    display: inline-block;
    left: 50%;
    margin-left: -9px;
    opacity: 0.8;
}

.emoji-vote .emoji-vote-good:hover,
.emoji-vote .emoji-vote-bad:hover {
    text-decoration: none;
    opacity: 1;
}

.emoji-vote .emoji-vote-good {
    top: 0;
}

.emoji-vote .emoji-vote-bad {
    bottom: 0;
}

.emoji-vote-negative {
    color: #6f0517;
}

.emoji-alias {
    font-size: 22px;
    font-weight: normal;
}

.emoji-list .btn {
    float: right;
}